@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    TU Dublin, Tallaght<br />
    D24 FKT9, Ireland.<br />
    <abbr title="Phone">P:</abbr>
    +353 1 404 2000
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">X00152190@mytudublin.ie</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">X00152190@mytudublin.ie</a>
</address>