@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Golf Results App</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome to the Golf Results App</h2>
        <p>
            This app is designed to provide results for every
            Competition and Golfer on the PGA Tour. The service is free now for all so no 
            need to login.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Competitions</h2>
        <p>View the Results for all <a href="~/Competition/Index">Competitions</a> on the PGA Tour!</p>
    </div>
    <div class="col-md-4">
        <h2>Golfers</h2>
        <p>View the Results for all <a href="~/Golfer/Index">Golfers</a> for every competition on the PGA Tour!</p>
    </div>
</div>